body {
    background-color: rgb(180, 169, 250);
    /* background-image: url(../../../public/Images/background.png); */
  }
  
  .Header_card {
    width: 90vw;
    height: 80vh;
    background-image: url(../../../public/Images/4.jpg);
    background-position: center;
    background-size: cover;
    margin: 5vh 5vw 10vh 5vw;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .Header_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5vw;
    color: white;
  }
  
  .Header_text h1 {
    margin-top: 10vh;
  }
  
  /* From uiverse.io by @Ali-Tahmazi99 */
  .make_order, .view_order {
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 9vh;
    /* margin-left: 10%; */
    border-radius: 10px;
    border: 1px solid #9b28e7;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
  }
  
  .make_order::before, .view_order::before,
  .make_order::after, .view_order::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
  }
  
  .make_order::before {
    left: -10px;
    background: #a555ef;
  }
  
  .make_order::after {
    right: -10px;
    background: #ab09ba;
  }
  
  .view_order::before {
    left: -10px;
    background:  #a555ef;
  }
  
  .view_order::after {
    right: -10px;
    background:  #ab09ba;
  }
  
  .make_order:hover::before, .view_order:hover::before,
  .make_order:hover::after, .view_order:hover::after {
    width: 58%;
  }
  
  .make_order:hover span, .view_order:hover span {
    color: #e0aaff;
    transition: 0.3s;
  }
  
  .make_order span, .view_order span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
  }
  
  