body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links button {
    display: inline-block;
    height: 4vh;
    border-radius: 2px;
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    font-size:medium;
    font-family: serif;
    text-align: center;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        height: 100%;
        transform: skew(15deg);
        transition: all 0.5s;
        overflow: hidden;
        z-index: -1;
    }

    &::before {
        left: -2px;
        background: #a555ef;
    }

    &::after {
        right: -2px;
        background: #ab09ba;
    }

    &:hover::before, &:hover::after {
        width: 58%;
    }

    span {
        color: #03045e;
        transition: all 0.3s ease-in;
    }

    &:hover span {
        color: #e0aaff;
        transition: 0.3s;
    }
}




@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        text-align:start;
        justify-content: center;
        margin-right:1.5vw;
        height:40vh;
        width:18vw;
        top: 6.5vh;
        right: 0;
        background-color: rgb(222,97,127);
        z-index: 1;
    }

    .nav-links.show {
        display: flex;
    }
}

#toggleNavButton {
    display: none;
}

@media screen and (max-width: 768px) {
    #toggleNavButton {
        display: block;
        color: white;
        background-color: transparent;
        border: none;
        cursor: pointer;
        
    }
}